@model DesignPatternTPfinal.Models.NoteIndex

@{
    ViewBag.Title = "toute les notes";
}


<div class="container loc-margin-top">
    <h1>Notes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Notes)
                {
                    <tr>
                        <th scope="row"><a href="">@item.Id</a></th>
                        <td>@item.Titre</td>
                        <td>@item.Date != DateTime.MinValue ? @item.Date : ""</td>
                        <td>@item.Type</td>
                        <td>@item.Description.Substring(0, 50) ...</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
